@font-face {
  font-family: 'ceremony';
  src: url('DIN Medium Regular.ttf');
}
html {
	margin:0;
}

body {
	margin:0;
	background-color:black;
	font-family:"ceremony";
	color:black;
	min-width:1000;        /* Suppose you want minimum width of 1000px */
	width: auto !important;  /* Firefox will set width as auto */
	width:1000;            /* As IE6 ignores !important it will set width as 1000px; */
}

#landing-img {
	width:100%;
	height:100%;
}

#mobile-landing-img {
	display:none;
}

#vol-2-announcement {
	font-size:52px;
	font-family:"ceremony";
	position:absolute;
	bottom:5%;
	left:5%;
	text-align:left;
	padding:15px;
}

#landing {
	width:100%;
	height:auto;
	background-color:black;
	text-align:center;
	position:relative;
}


/*animated arrow bouncing
**********************************************/
/*adapted from https://codepen.io/dodozhang21/pen/siKtp*/


#arrow {
	position:absolute;
  	left: calc(5% + 434px);
  	bottom:7%;
  	transform:translateY(-20px);
  	height:100px;
}

.bounce {
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-o-animation-name: bounce;
	animation-name: bounce;
}
.animated {
    -webkit-animation-fill-mode:both;
	-moz-animation-fill-mode:both;
	-ms-animation-fill-mode:both;
	-o-animation-fill-mode:both;

    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

	animation-fill-mode:both;
	-webkit-animation-duration:2s;
	-moz-animation-duration:2s;
	-ms-animation-duration:2s;
	-o-animation-duration:2s;
	animation-duration:2s;
}


@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}


.page {
	width:84%;
	height:500px;
	padding:8%;
	overflow:hidden;

}

#vol2{
	background-color:white;
	height:450px;
	padding-top:5%;
	padding-bottom:3%;
	display: none;
}

#zine2-info{
    width: 50%;
    display:inline-block;
    font-size:24px;
    text-align:center;
    vertical-align: middle;
}  

#zine2-names {
	font-size:24px;
    padding:30px;
    line-height:1.5em;
}

button {
  	margin: 10px;
  	padding: 15px;
  	border: 2px solid #FFFFFF;
  	border-radius: 6px;
  	text-align: center;
  	display: inline-block;
  	text-transform: uppercase;
  	position: relative;
  	color:white;
  	font-family:"ceremony";
  	font-size: 20px;
  	background-color: transparent;
  	filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.10));
}

button:hover {
    cursor: pointer;
    background: #FFFFFF;
    color: black;
}

#zine2-cover{
    width: 50%;
    display:inline-block;
    text-align:center;
    vertical-align: middle;
}  


#zine2-cover-img {
	height:75%;
}

#vol2-redo{
	background-color: #000000;
	height: auto;
}

#zine2cover{
	float:left;
	opacity: .9;
	position: relative;
	padding-left: 5%;
	height:auto;
	width: 30%;
}

#zine2-name-button{
	float: right;
	color: #FFFFFF;
	width: 45%;
	padding-top: 7%;
	padding-right: 10%;
}

ul{
	list-style: none;
	line-height: 1.7em;
	font-size: 20px;
	display: block;
  	-webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    column-gap: 10%;
}

li{
	display: block;
	min-width:152px;
}

#zine2download{
	text-align: left;
	position: relative;
	color: #FFFFFF;
	border: 2px solid #FFFFFF;
	margin-left:10%;
}

#zine2download:hover{
	color:#000000;
	background-color: #FFFFFF;
}


#vol1{
	background-color:rgb(232, 240, 245);
	padding-top:5%;
	height:500px;
	display: none;
}

#vol1-logo {
	width:45%;
	margin-left:25%;
	margin-right:25%;
	margin-bottom:5%
}

#zine1-info{
    width: 50%;
    display:inline-block;
    font-size:24px;
    text-align:center;
}

#zine1-download {
	background-color:rgb(196, 196, 196);
	margin-left:17%;
	margin-right:17%;
}

#zine1-cover{
    width: 100%;
    display:inline-block;
    text-align:center;
}  

#zine1-cover-img {
	height:60%;
}

#event1-info{
    width: 50%;
    display:inline-block;
    font-size:24px;
    text-align:center;
}

#event1-download {
	background-color:rgb(196, 196, 196);
	margin-left:17%;
	margin-right:17%;
}

#event1-cover{
    width: 100%;
    display:inline-block;
    text-align:center;
}  


#event1-cover-img {
	height:60%;

}

#vol1-redo{
	background-image:url('img/gltch.gif');
	background-size:cover;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height: auto;
    background-blend-mode: lighten;
    background-position: left top;
}

#vol1-title{
	font-family: Helvetica Neue, sans-serif;
	font-size: 50px;
	color: #FFFFFF;
}

#vol1-info{
	padding-top:13%;
	padding-left: 10%;
	float:left;
	display:inline;
	text-align:left;
	width: 50%;
}

#vol1-zine{
	float: right;
	width: 40%;
	opacity: 1;
}

.clearfix:after{
	visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

footer {
	width:100%;
	height:100px;
	background-color:black;
	color:white;
	display: flex;
  	justify-content: center;
  	align-items: center;
}

#footer-logo {
	width:18%;
	margin-right:5%;

}

#footer-info {
	width:20%;
	margin-right:15%;
}

#footer-contact {
	width:30%;
	margin-right:5%;
	text-align: right;
}

#footer-contact > a {
	text-decoration:none;
	color:white;
	padding-right:10px;
	font-size:24px;
}



@media screen and (max-width: 481px){



	body {
		min-width:0;         /*Suppose you want minimum width of 1000px */
		width: auto !important;  /* Firefox will set width as auto */
		width:0;
	}

	#landing-img {
		display:none;
	}

	#mobile-landing-img {
		width:100%;
		height:auto;
		display:initial;
	}

	#arrow {
		display:none;
	}

	#vol-2-announcement {
		font-size:24px;
		font-family:"ceremony";
		width:70%;
		position:absolute;
		top:60%;
		text-align:center;
		padding:0px;
		padding-top:15px;
		padding-bottom:15px;
		left:15%;
	}

	#vol2 {
		background-color:white;
		height:600px;
		padding-top:5%;
		padding-bottom:5%;
	}

	#zine2-info {
		width: 100%;
		display:inline-block;
		font-size:16px;
		text-align:center;
		vertical-align: middle;
	}  

	#zine2-names {
		font-size:16px;
	    padding:30px;
	    line-height:1em;
	}

	#zine2-cover {
	    width: 100%;
	    display:inline-block;
	    text-align:center;
	    vertical-align: middle;
	    margin-top:20px;
	}


	#zine2-cover-img {
		width:75%;
		height:auto;
	}

	#vol1 {
		padding-top: 5%;
		padding-bottom: 5%;
		height:auto;
	}

	#vol1-logo {
		width:80%;
		margin-left:10%;
		margin-right:10%;
		margin-bottom:5%
	}

	#zine1-info{
	    width: 100%;
	    display:inline-block;
	    font-size:16px;
	    text-align:center;
	}

	#zine1-cover-img {
		width:100%;
		height:auto;
	}


	#event1-info{
	    width: 100%;
	    display:inline-block;
	    font-size:16px;
	    text-align:center;
	}



	#event1-cover-img {
		width:100%;
		height:auto;

	}



	footer {
		font-size:12px;
		height:100px;
	}

	#footer-logo {
		margin-left:2%;
		width:18%;
		margin-right:5%;
	}

	#footer-info {
		width:37%;
		margin-right:3%;
	}

	#footer-contact {
		width:33%;
		margin-right:2%;
	}

	#footer-contact > a {
		text-decoration:none;
		color:white;
		padding-right:10px;
	}


}
